@import 'tailwindcss';

@theme {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}

@font-face {
    font-family: 'Quantico';
    src: url('./fonts/Quantico/Quantico-Bold.ttf');
}


@theme {
    --font-system: 'Quantico', sans-serif;
    --font-sans: 'Geist', sans-serif;
    --font-mono: 'Geist Mono', serif;
    --color-data: #6495ED;
    --color-mark: #FF7F52;
    --color-encoding: #008080;
    --color-design: #9370DB;
}

.material-symbols-outlined {
    font-size: 24px;
    font-variation-settings: 'fill' 0, 'wght' 400, 'opsz' 24;
}

.material-symbols-outlined.icon-small {
    font-size: 18px;
    font-variation-settings: 'fill' 0, 'wght' 400, 'opsz' 24;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

@layer utilities {
    :root {
        --background: #f5f5f5;
        --foreground: #171717;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --background: #0a0a0a;
            --foreground: #ededed;
        }
    }
}

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

.canvas-vega-embed canvas {
    @apply cursor-pointer
}

.canvas-vega-embed summary {
    @apply mt-2 mr-2
}

.mini-vega .vega-embed canvas {
    height: 72px;
    width: 120px;
}

.corpus-vega {
    @apply w-full overflow-auto
}

.corpus-vega canvas {
    height: 240px;
}

.vl-preview .vega-embed {
    @apply h-full
}

.vl-preview .vega-embed canvas {
    @apply h-full
}

.font-input-label {
    @apply text-xs
}

.font-input-label input {
    @apply text-neutral-900 font-medium
}

.font-input-label span {
    @apply text-neutral-400 select-none
}

.icon-input-label {
    font-size: 18px;
}

.dataSchema {
    @apply text-data
}

.mark {
    @apply text-mark
}

.encoding {
    @apply text-encoding
}

.design {
    @apply text-design
}